main {

    section.live-bidding {
        padding: 0px;
        padding-bottom: 50px;

        .live-bidding-header {
            padding-bottom: 20px;
            padding-top: 70px;

            .circle-animation {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background-color: var(--success);
                margin-right: 10px;
            }

            h3 {
                font-size: 35px;

            }
        }

        .live-bidding_same-card {
            margin: 0px;
            padding: 0px;
            border-radius: 8px;
            position: relative;
            z-index: 2;

            .live-bidding-img-container {
                overflow: hidden;
                border: 8px solid var(--primary);
                border-radius: 10px;
                img{
                    padding: 0px;
                    transition: 0.5s;
                }
                

            }
          

            &:hover {
                .live-bidding-img-container img {
                    transition: 0.5s;
                    transform: scale(1.1);

                }

                &::before {
                    position: absolute;
                    z-index: -1;
                    content: "";
                    width: 95%;
                    height: 96%;
                    top: 30px;
                    left: 0px;
                    background: rgb(0, 163, 255);
                    background: linear-gradient(-45deg, rgba(0, 163, 255, 1) 0%, rgba(17, 19, 20, 1) 100%);
                    border-radius: 10px;
                    transform: rotate(3deg);
                    animation: myMove 0.5s ease-out;


                }

                @keyframes myMove {
                    from {
                        transform: rotate(0deg);
                        ;
                    }

                    to {
                        transform: rotate(3deg);
                    }
                }
            }



            .live-bidding-img {
                width: 100%;
                border-radius: 8px;
                padding: 5px;
            }

            .live-bidding-content {
                margin: 0px 15px;
            }

            .same-card-profile {
                img {
                    position: relative;
                    border-radius: 50%;
                    width: 30px;
                }

                .second-img {
                    left: -15px;
                }

                .third-img {
                    left: -30px;
                }

                .place-bit {
                    position: relative;
                    left: -15px;
                    font-size: 15px;
                }
            }
        }
    }

    section.top-collection{
        padding-top: 40px;
        .collection-same-card {
            &:hover{
                .collection-card-header{
              
                    img{
                        transition: 0.5s;
                     transform: scale(1.1);
                    }
                
            }
        }         
            background-color: #1A1A20;
            
            .collection-card-header{
                border: 8px solid #1A1A20;
                overflow: hidden;
               img{
                width: 100%;
                transition: 0.5s;
                
               }
               
            }

            .top-collection-card-content{
                .center-img {
                    position: absolute;
                    transform: translateX(-50%);
                    left: 50%;
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    border: 5px solid var(--primary);
                    top: -30px;
                }
            }

            .top-collection-card-footer{
                button {
                    padding: 5px;
                    
                    &:hover {
                        background-color: var(--success) !important;
                        
                    }
                }
            }
        }
    }

    section.products {
        padding-top: 90px;

        ul li {
            button {
                margin: 0px 5px;
                background-color: transparent !important;
                border: 0.3px solid rgb(228, 228, 228, 0.2)  !important;
                border-radius: 20px !important;
                padding: 15px 35px;
                color:#acacac;
                border-radius: 30px !important;

                &:hover{
                    background-color: var(--primary) !important;
                    border-color: var(--primary) !important;
                    color: var(--success) !important;
                }

                &:focus{
                    background-color: var(--primary) !important;
                    border-color: var(--primary) !important;
                    color: var(--success) !important;

                }
            }
        }

    
        
    }

    .live-bidding-header {
        padding-bottom: 20px;
        padding-top: 70px;

        .circle-animation {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: var(--success);
            margin-right: 10px;
        }

        h3 {
            font-size: 35px;

        }
    }

    .live-bidding_same-card {
        margin: 0px;
        padding: 0px;
        border-radius: 8px;
        position: relative;
        z-index: 2;

        .live-bidding-img-container {
            overflow: hidden;
            border: 8px solid var(--primary);
            border-radius: 10px;
            img{
                padding: 0px;
                transition: 0.5s;

            }
            

        }

        &:hover {
            .live-bidding-img-container img {
                transition: 0.5s;
                transform: scale(1.1);

            }

            &::before {
                position: absolute;
                z-index: -1;
                content: "";
                width: 95%;
                height: 96%;
                top: 30px;
                left: 0px;
                background: rgb(0, 163, 255);
                background: linear-gradient(-45deg, rgba(0, 163, 255, 1) 0%, rgba(17, 19, 20, 1) 100%);
                border-radius: 10px;
                transform: rotate(3deg);
                animation: myMove 0.5s ease-out;


            }

            @keyframes myMove {
                from {
                    transform: rotate(0deg);
                    ;
                }

                to {
                    transform: rotate(3deg);
                }
            }
        }

        // &:hover:before {
        //     visibility: visible;
        //     transition: 5s;

        // }




        .live-bidding-img {
            width: 100%;
            border-radius: 8px;
            padding: 5px;
        }

        .live-bidding-content {
            margin: 0px 15px;
        }

        .same-card-profile {
            img {
                position: relative;
                border-radius: 50%;
                width: 30px;
            }

            .second-img {
                left: -15px;
            }

            .third-img {
                left: -30px;
            }

            .place-bit {
                position: relative;
                left: -15px;
                font-size: 15px;
            }
        }
    }

    section.purchasing  {

        .same-card-easyer{
            h4 ,a, img , p{ 
                transition: transform 0.3s ease-in-out;


            }
            &:hover{
                

                h4 ,a , p , img{
                    transform: translateY(-10px) ;
                    transition: transform 0.3s ease-in-out;
                    
                }

                h4 ,a{
                    color: var(--success) !important;
                }

                
                
            }
            
            .make-easyer-img{
                position: absolute;
                max-width: 80px;
                right: -20px;
                top: -20px;
            }
        }
    }

    section.notification{
        .dropdown-menu li {
            border-bottom: 1px solid rgb(195, 195, 196 , 0.2);

        }
        .notification-content {
            height: 390px;
            padding: 20px 0px;
            overflow-y: auto;
            &::-webkit-scrollbar {
                width: 6px;
            }
        
            &::-webkit-scrollbar-thumb {
                border-radius: 5px;
                background-color: var(--success);
            }

            .notification-items {

                h6{
                    transition: 0.5s;
                    &:hover{
                        color: var(--success) !important;
                        transition: 0.5s;
                    }
                }
                border-bottom: 1px solid rgb(195, 195, 196 , 0.2);
                img {
                    border: 2px solid var(--primary);
                    transition: 0.5s;
                }
                :hover {
                    img {
                        border-color: var(--success);
                        transition: 0.5s;
                    }
                }
            }
        }
    }

    section.top-artist {
        border-bottom: 1px solid rgb(195, 195, 196 , 0.2);

        .dropdown-menu li {
            border-bottom: 1px solid rgb(195, 195, 196 , 0.2);

        }

        .artist-content {

            height: 290px;
            padding: 30px 20px;
            overflow-y: auto;
            &::-webkit-scrollbar {
                width: 6px;
            }
        
            &::-webkit-scrollbar-thumb {
                border-radius: 5px;
                background-color: var(--success);
            }
            .artist-items{
                h6{
                    transition: 0.5s;
                    &:hover{
                        color: var(--success) !important;
                        transition: 0.5s;
                    }
                }
                border-bottom: 1px solid rgb(195, 195, 196 , 0.2);
                img {
                    max-width: 50px;
                    border: 2px solid var(--primary);
                    transition: 0.5s;
                }
                :hover {
                    img {
                        border-color: var(--success);
                        transition: 0.5s;
                    }
                }
                button {
                    &:hover {
                        background-color: var(--success) !important;
                    }

                }
                
            }
        }
    }

    

}